nelmio_api_doc:
    html_config:
        assets_mode: 'offline'
    documentation:
        info:
            title: "Appquilar API"
            description: "API for Appquilar platform"
            version: "0.1.0"
        areas:
            exclude_path_patterns:
                - ^/_error
        paths:
            /api/auth/register:
                post:
                    summary: "Register a new user"
                    tags:
                        - Authentication
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    $ref: "#/components/schemas/RegisterUserDTO"
                    responses:
                        "201":
                            description: "User registered successfully"
                        "400":
                            description: "Validation error"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: false
                                            errors:
                                                type: object
                                                example:
                                                    email: ["Email cannot be empty."]
                                                    password: ["Password must be at least 6 characters long."]
            /api/auth/login:
                post:
                    summary: "Login a user"
                    tags: ["Authentication"]
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    $ref: "#/components/schemas/LoginUserDTO"
                    responses:
                        "200":
                            description: "Successful login"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            token:
                                                type: string
                                                example: "eyJhbGciOiJIUzI1NiIsIn..."
                        "400":
                            description: "Invalid credentials"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            error:
                                                type: string
                                                example: "Invalid credentials"
            /api/auth/logout:
                post:
                    summary: "Logout a user"
                    description: "Revokes the user's access token, effectively logging them out."
                    tags:
                        - Authentication
                    security:
                        - BearerAuth: [ ]
                    responses:
                        "200":
                            description: "Logout successful"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: "true"
                        "401":
                            description: "Unauthorized - Missing or invalid token"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            error:
                                                type: string
                                                example: "Invalid token"

            /api/auth/forgot-password:
                post:
                    summary: "Request a password reset link"
                    tags: ["Authentication"]
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required: ["email"]
                                    properties:
                                        email:
                                            type: string
                                            example: "user@example.com"
                    responses:
                        "200":
                            description: "Forgot password email sent successfully"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            message:
                                                type: string
                                                example: "Forgot password email sent successfully"
                        "400":
                            description: "Validation error"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: false
                                            errors:
                                                type: object
                                                example:
                                                    email: ["Invalid email format."]

        components:
            schemas:
                RegisterUserDTO:
                    type: object
                    required:
                        - userId
                        - email
                        - password
                    properties:
                        userId:
                            type: string
                            format: uuid
                            example: "cdd52b98-9183-41b9-8e27-4d12c5ddcf3c"
                        email:
                            type: string
                            example: "testuser@example.com"
                        password:
                            type: string
                            example: "SecurePass123"
                LoginUserDTO:
                    type: object
                    required: ["email", "password"]
                    properties:
                        email:
                            type: string
                            example: "user@example.com"
                        password:
                            type: string
                            example: "SecurePass123"
