nelmio_api_doc:
    html_config:
        assets_mode: 'offline'
    documentation:
        info:
            title: "Appquilar API"
            description: "API for Appquilar platform"
            version: "0.1.0"
        areas:
            exclude_path_patterns:
                - ^/_error
        paths:
            # Authentication
            /api/auth/register:
                post:
                    summary: "Register a new user"
                    tags:
                        - Authentication
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    $ref: "#/components/schemas/RegisterUserDTO"
                    responses:
                        "201":
                            description: "User registered successfully"
                        "400":
                            description: "Validation error"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: false
                                            errors:
                                                type: object
                                                example:
                                                    email: ["Email cannot be empty."]
                                                    password: ["Password must be at least 6 characters long."]
            /api/auth/login:
                post:
                    summary: "Login a user"
                    tags: ["Authentication"]
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    $ref: "#/components/schemas/LoginUserDTO"
                    responses:
                        "200":
                            description: "Successful login"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            token:
                                                type: string
                                                example: "eyJhbGciOiJIUzI1NiIsIn..."
                        "400":
                            description: "Invalid credentials"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            error:
                                                type: string
                                                example: "Invalid credentials"
            /api/auth/logout:
                post:
                    summary: "Logout a user"
                    description: "Revokes the user's access token, effectively logging them out."
                    tags:
                        - Authentication
                    security:
                        - BearerAuth: [ ]
                    responses:
                        "200":
                            description: "Logout successful"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: "true"
                        "401":
                            description: "Unauthorized - Missing or invalid token"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            error:
                                                type: string
                                                example: "Invalid token"

            /api/auth/forgot-password:
                post:
                    summary: "Request a password reset link"
                    tags: ["Authentication"]
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required: ["email"]
                                    properties:
                                        email:
                                            type: string
                                            example: "user@example.com"
                    responses:
                        "200":
                            description: "Forgot password email sent successfully"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            message:
                                                type: string
                                                example: "Forgot password email sent successfully"
                        "400":
                            description: "Validation error"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: false
                                            errors:
                                                type: object
                                                example:
                                                    email: ["Invalid email format."]
            /api/auth/change-password:
                post:
                    summary: "Change password using the forgot password token"
                    tags: ["Authentication"]
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    type: object
                                    properties:
                                        email:
                                            type: string
                                            example: "user@example.com"
                                        token:
                                            type: string
                                            format: uuid
                                            example: "cdd52b98-9183-41b9-8e27-4d12c5ddcf3c"
                                        password:
                                            type: string
                                            example: "NewSecurePass123"
                    responses:
                        204:
                            description: "Password changed successfully"
                        400:
                            description: "Validation error"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: false
                                            errors:
                                                type: object
                                                example:
                                                    - "Token cannot be empty."
                                                    - "Password must be at least 6 characters long."
                        401:
                            description: "Invalid or expired token"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            success:
                                                type: boolean
                                                example: false
                                            errors:
                                                type: object
                                                example: "Invalid or expired token"
            # User
            /api/me:
                get:
                    summary: "Get the authenticated user's details"
                    description: "Fetch the details of the currently authenticated user"
                    tags:
                        - "User"
                    security:
                        - bearerAuth: [ ]
                    responses:
                        "200":
                            description: "User details retrieved successfully"
                            content:
                                application/json:
                                    schema:
                                        $ref: "#/components/schemas/User"
                        "401":
                            description: "Unauthorized - User not authenticated"
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            error:
                                                type: string
                                                example: "Unauthorized"
            /api/users/{user_id}:
                get:
                    summary: "Get the specific user's details"
                    description: "Fetch the details of an user by its ID"
                    tags:
                        - "User"
                    parameters:
                        - in: path
                          name: user_id
                          schema:
                              type: uuid
                          required: true
                          description: UUID of the user to get
                    responses:
                        "200":
                            description: "User details retrieved successfully"
                            content:
                                application/json:
                                    schema:
                                        $ref: "#/components/schemas/User"
                patch:
                    summary: "Update user details"
                    description: "Allows an admin or the user themselves to update user details (name, roles, etc.)."
                    tags:
                        - "User"
                    parameters:
                        - name: "user_id"
                          in: "path"
                          required: true
                          schema:
                              type: "string"
                          example: "cdd52b98-9183-41b9-8e27-4d12c5ddcf3c"
                    security:
                        - BearerAuth: [ ]
                    requestBody:
                        content:
                            application/json:
                                schema:
                                    $ref: "#/components/schemas/UpdateUserDTO"
                    responses:
                        "204":
                            description: "User updated successfully"
                        "401":
                            description: "Unauthorized"
                        "404":
                            description: "User not found"

            /api/users/{user_id}/change-password:
                patch:
                    summary: "Change the user's password"
                    description: "Allows an authenticated user to update their password."
                    tags:
                        - "User"
                    parameters:
                        - name: "user_id"
                          in: "path"
                          required: true
                          schema:
                              type: "string"
                          example: "cdd52b98-9183-41b9-8e27-4d12c5ddcf3c"
                    security:
                        - bearerAuth: []
                    requestBody:
                        required: true
                        content:
                            application/json:
                                schema:
                                    $ref: "#/components/schemas/UpdateUserPasswordDTO"
                    responses:
                        "204":
                            description: "Password changed successfully"
                        "401":
                            description: "Unauthorized - Invalid credentials or not authenticated"

        components:
            schemas:
                RegisterUserDTO:
                    type: object
                    required:
                        - user_id
                        - email
                        - password
                    properties:
                        user_id:
                            type: string
                            format: uuid
                            example: "cdd52b98-9183-41b9-8e27-4d12c5ddcf3c"
                        email:
                            type: string
                            example: "testuser@example.com"
                        password:
                            type: string
                            example: "SecurePass123"
                LoginUserDTO:
                    type: object
                    required: ["email", "password"]
                    properties:
                        email:
                            type: string
                            example: "user@example.com"
                        password:
                            type: string
                            example: "SecurePass123"
                UpdateUserDTO:
                    type: "object"
                    properties:
                        first_name:
                            type: "string"
                            example: "John"
                        last_name:
                            type: "string"
                            example: "Doe"
                        roles:
                            type: array
                            items:
                                $ref: "#/components/schemas/UserRoles"
                UpdateUserPasswordDTO:
                    type: object
                    required: ["old_password", "new_password"]
                    properties:
                        old_password:
                            type: string
                            example: "OldPassword123"
                        new_password:
                            type: string
                            example: "NewSecurePassword456"
                UserRoles:
                    type: string
                    enum:
                        - ROLE_USER
                        - ROLE_ADMIN
                User:
                    type: object
                    properties:
                        id:
                            type: string
                            format: uuid
                            example: "cdd52b98-9183-41b9-8e27-4d12c5ddcf3c"
                        first_name:
                            type: string
                            example: "John"
                        last_name:
                            type: string
                            example: "Doe"
                        email:
                            type: string
                            format: email
                            example: "testuser@example.com"
                        roles:
                            type: array
                            items:
                                $ref: "#/components/schemas/UserRoles"
