security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
            algorithm: auto

    firewalls:
        api:
            pattern: ^/api/
            stateless: true
            security: false

    access_control: []