services:
  php:
    build:
      context: ./docker/php
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8000:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - mysql
    networks:
      - appquilar

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony_user
      MYSQL_PASSWORD: symfony_pass
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - appquilar

  mysql_integration:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony_test
      MYSQL_USER: symfony_test_user
      MYSQL_PASSWORD: symfony_test_pass
    volumes:
      - mysql_data_integration:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - appquilar

  opensearch:
    image: opensearchproject/opensearch:2.11.0
    environment:
      - cluster.name=appquilar-search
      - node.name=opensearch-1
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - appquilar

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.11.0
    depends_on:
      - opensearch
    environment:
      - OPENSEARCH_HOSTS=http://opensearch:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    networks:
      - appquilar

volumes:
  mysql_data:
  mysql_data_integration:
  opensearch-data:

networks:
  appquilar:
    driver: bridge
