<!DOCTYPE html>
<html>
<head>
    <title>Reset Your Password</title>
</head>
<body>
<p>Hola {{ name is empty ? '!' : name~'!'}},</p>
<p>Click the link below to reset your password:</p>
<p><a href="{{ resetLink }}">Reset Password</a></p>
<p>If you didn't request a password reset, please ignore this email.</p>
</body>
</html>
