<!DOCTYPE html>
<html lang="es_ES">
<head>
    <title>Reset Your Password</title>
</head>
<body>
<p>Hola!,</p>
<p>La empresa {{ companyName }} te ha invitado a colaborar con ellos:</p>
<p><a href="{{ companyId }}/{{ token }}">Aceptar invitación</a></p>
</body>
</html>
